---
import type { ImageMetadata } from 'astro';

interface Props {
    title: string;
    description: string;
    hashtag: string;
    character: ImageMetadata;
}

const { title, description, hashtag, character } = Astro.props as Props;
---

<article class="rounded-2xl border-2 border-secondary bg-primary p-5 shadow-[4px_7px_0_0_var(--color-secondary)] max-w-sm w-82 flex flex-col items-center justify-center text-center overflow-visible">
    <div class="-mt-10 mb-2 flex h-44 w-full items-end justify-center md:h-40 lg:h-36 xl:h-40">
        <img
            src={character.src}
            alt={title}
            class="h-full w-auto object-contain"
            loading="lazy"
        />
    </div>
    <h3 class="leading-tight">{title}</h3>
    <p class="mt-2">{description}</p>
    <span class="mt-3 text-sm uppercase rounded-full bg-secondary text-primary py-1.5 px-5">{hashtag}</span>
</article>

